* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-bottom: 3px solid #3693ff;
}

@media print {

  .pagination,
  .aksi {
    display: none;
  }
}

.fa-search {
  color: #3693ff;
}